{%- if include.data -%}
    {% assign data = page[include.data] %}
{% else %}
    {% assign data = page.article %}
{% endif %}

{%- if data.class -%}
    {% assign class = data.class | prepend: ' ' %}
{% else %}
    {% assign class = "" %}
{% endif %}

<section class="article{{ class }}">
    <div class="row">
        <div class="col col-12 col-lg-11 col-xl-10">
            {%- if data.animated -%}
            <div class="story__content" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out" data-aos-once="true">
            {% else %}
            <div class="story__content">
            {% endif %}
                {%- if data.title -%}<p class="story__title">{{ data.title }}</p>{% endif %}
                {%- if data.heading -%}<h2 class="story__heading">{{ data.heading }}</h2>{% endif %}
                {%- if data.content -%}{{ data.content | markdownify }}{% endif %}
                {%- if data.buttons -%}
                    <div class="story__buttons">
                        {% for button in data.buttons %}
                            <a href="{{ button.url | relative_url }}" class="btn {{ button.class }}" target="{{ button.target }}">{{ button.title }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>