{%- if paginator.posts -%}
    {% assign posts = paginator.posts %}
{% else %}
    {% assign posts = page.post %}
{% endif %}

<div class="blog" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out" data-aos-once="true">

    <div class="row">
        <div class="col col-12 col-xl-9 col-xxl-8">
            <div class="blog__space">
                {% for post in posts %}
                    {%- include blog-article.liquid data=post -%}
                {% endfor %}

                {% if paginator.total_pages > 1 %}
                    <div class="blog__pagination">
                        {% if paginator.previous_page %}
                            <a href="{{ paginator.previous_page_path | relative_url }}">&lt;</a>
                        {% else %}
                            <span>&lt;</span>
                        {% endif %}

                        {% for page in (1..paginator.total_pages) %}
                            {% if page == paginator.page %}
                                <strong>{{ page }}</strong>
                            {% elsif page == 1 %}
                                <a href="{{ '/blog/' | relative_url }}">{{ page }}</a>
                            {% else %}
                                <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if paginator.next_page %}
                            <a href="{{ paginator.next_page_path | relative_url }}">&gt;</a>
                        {% else %}
                            <span>&gt;</span>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

</div>