{%- if include.data -%}
    {% assign data = page[include.data] %}
{% else %}
    {% assign data = page.story %}
{% endif %}

{%- if data.class -%}
    {% assign class = data.class | prepend: ' ' %}
{% else %}
    {% assign class = "" %}
{% endif %}

<section class="box{{ class }}">
    <div class="row justify-content-md-center text-center">
        <div class="col col-12 col-lg-6 col-xl-7 col-xxl-6">
            {%- if data.icon -%}<img class="box__icon" src="{{ data.icon | prepend: site.path.images | relative_url }}" height="50" alt="{{ data.title }}">{% endif %}
            {%- if data.title -%}<h4 class="box__title">{{ data.title }}</h4>{% endif %}
            {%- if data.heading -%}<h2 class="box__heading">{{ data.heading }}</h2>{% endif %}
        </div>
    </div>
    <div class="row justify-content-md-center text-center">
        {%- if data.content -%}
            <div class="col col-12 col-md-10 col-lg-8 col-xxl-6">
                <div class="box__content">{{ data.content | markdownify }}</div>
            </div>
        {% endif %}
        {%- if data.quotes -%}
            <div class="col col-12 col-md-10 col-lg-8">
                <div class="box__testimonials">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            {% for quote in data.quotes %}
                                <figure class="swiper-slide">
                                    <blockquote><p>{{ quote.quote }}</p></blockquote>
                                    {%- if quote.author -%}<figcaption>{{ quote.author }}</figcaption>{% endif %}
                                </figure>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        {% endif %}
        {%- if data.solutions -%}
            {% for solution in data.solutions %}
                <div class="col col-12 col-md-4">
                    <section class="box__solution">
                        {%- if forloop.index <= 4 -%}
                            {%- if solution.icon -%}<img class="box__solution-icon" src="{{ solution.icon | prepend: site.path.images | relative_url }}" height="50" alt="{{ solution.title }}">{% endif %}
                            {%- if solution.title -%}<h3>{{ solution.title }}</h3>{% endif %}
                            {%- if solution.content -%}<p>{{ solution.content }}</p>{% endif %}
                            {%- if solution.button -%}<a href="{{ solution.button.url | relative_url }}" class="btn {{ solution.button.class }}">{{ solution.button.label }}</a>{% endif %}
                        {% endif %}
                    </section>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</section>