{%- if include.data -%}
    {% assign data = page[include.data] %}
{% else %}
    {% assign data = page.popup %}
{% endif %}

<div class="popup" id="{{ include.id }}">
    <div class="popup__space">
        <aside class="popup__content">
            <a href="#close" class="popup__close" aria-label="Hide popup"></a>
            <header class="popup__header">
                {%- if data.title -%}<h2 class="popup__title">{{ data.title }}</h2>{% endif %}
                <p>By downloading Diode you accept the <a href="{{ site.links.terms.url }}" target="_blank">terms</a> and our <a href="{{ site.links.privacy.url }}" target="_blank">privacy policy</a>.</p>
            </header>

            <div class="download-popup">
                <div class="download-popup__buttons detect-os">
                    <a class="btn btn-primary os macos" href="{{ site.download.app.macos }}" onclick="ThankYouRedirect('{{ site.links.thanks.url }}')">DOWNLOAD FOR MacOS X</a>
                    <a class="btn btn-primary os windows hide" href="{{ site.download.app.windows }}" onclick="ThankYouRedirect('{{ site.links.thanks.url }}')">DOWNLOAD FOR Windows (64-bit)</a>
                    <a class="btn btn-primary os linux hide" href="{{ site.download.app.linux }}" onclick="ThankYouRedirect('{{ site.links.thanks.url }}')">DOWNLOAD FOR Linux (64-bit)</a>
                    <a class="btn btn-primary os raspberry-pi hide" href="{{ site.download.app.raspberry-pi }}" onclick="ThankYouRedirect('{{ site.links.thanks.url }}')">DOWNLOAD FOR Raspberry Pi / ARM 32bit</a>
                    <a class="btn btn-primary os raspberry-pi-64 hide" href="{{ site.download.app.raspberry-pi-64 }}" onclick="ThankYouRedirect('{{ site.links.thanks.url }}')">DOWNLOAD FOR Raspberry Pi / ARM 64bit</a>
                    <a class="btn btn-primary os ios hide" href="{{ site.download.app.ios }}" onclick="ThankYouRedirect('{{ site.links.thanks.url }}')">GET FOR iOS</a>
                    <a class="btn btn-primary os android hide" href="{{ site.download.app.android }}" onclick="ThankYouRedirect('{{ site.links.thanks.url }}')">GET FOR Android</a>
                </div>

                <p class="download-popup__other-title">Or choose another Platform:</p>
                <ul class="download-popup__other">
                    <li><a href="{{ site.download.app.macos }}" onclick="ThankYouRedirect('{{ site.links.thanks.url }}')">MacOS X</a><br></li>
                    <li><a href="{{ site.download.app.windows }}" onclick="ThankYouRedirect('{{ site.links.thanks.url }}')">Windows (64-bit)</a></li>
                    <li><a href="{{ site.download.app.linux }}" onclick="ThankYouRedirect('{{ site.links.thanks.url }}')">Linux (64-bit)</a><code class="sha">{{ site.download.app.linux-checksum }}</code></li>
                    <li><a href="{{ site.download.app.raspberry-pi }}" onclick="ThankYouRedirect('{{ site.links.thanks.url }}')">Raspberry Pi / ARM 32bit</a><code class="sha">{{ site.download.app.raspberry-pi-checksum }}</code></li>
                    <li><a href="{{ site.download.app.raspberry-pi-64 }}" onclick="ThankYouRedirect('{{ site.links.thanks.url }}')">Raspberry Pi / ARM 64bit</a><code class="sha">{{ site.download.app.raspberry-pi-64-checksum }}</code></li>
                    <li><a href="{{ site.download.app.ios }}" onclick="ThankYouRedirect('{{ site.links.thanks.url }}')">iOS</a></li>
                    <li><a href="{{ site.download.app.android }}" onclick="ThankYouRedirect('{{ site.links.thanks.url }}')">Android</a></li>
                </ul>
                <hr>
                <p class="download-popup__note">MacOS + Windows builds are signed/notarized. For Linux builds please compare the SHA-1 checksum above with the file downloaded for validation.</p>
                <br/>
                <p class="download-popup__note"><strong>Developers:</strong> Go to the <a class="close-popup" href="{{ "/download/#cli" | relative_url }}">Download Hub</a> to download the CLI or the Network Node.</p>
            </div>
        </aside>
    </div>
</div>
