{%- if include.data -%}
    {% assign data = page[include.data] %}
{% else %}
    {% assign data = page.download %}
{% endif %}

<section class="download" id="{{ include.id }}">
    <div class="row justify-content-center">
        <div class="col col-12 col-lg-10 col-xxl-8">
            <div class="download__content">
                {%- if data.title -%}<p class="download__title">{{ data.title }}</p>{% endif %}
                {%- if data.heading -%}<h2 class="download__heading">{{ data.heading }}</h2>{% endif %}
                {%- if data.subheading -%}
                    <div class="download__subheading">{{ data.subheading | markdownify }}</div>{% endif %}
                {%- if data.buttons -%}
                    <div class="download__buttons">
                        {% for button in data.buttons %}
                            <a href="{{ button.url }}" class="btn {{ button.class }}" target="{{ button.target }}">{{ button.title }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {%- if data.install -%}
        <div class="row justify-content-center">
            <div class="col col-12 col-lg-8 col-xxl-6">
                <div class="download__install">
                    <p class="lead">Copy &amp; paste the line below into a terminal:</p>
                    <code>curl -Ssf https://diode.io/install.sh | bash</code>
                    <p class="small">Supported on macOS, Linux, Raspberry Pi (or Windows if you have curl)</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-12">
                <p class="lead">Or manually install:</p>
            </div>
            <div class="col col-12 col-lg-4 col-xxl-3">
                <div class="download__manual">
                    <var class="step">1</var>
                    <p class="lead">Download Diode CLI</p>
                    <p class="thre">Download the binary for your operating system</p>
                    <div class="text-center detect-os">
                        <a class="btn btn-primary os raspberry-pi hide" href="{{ site.download.cli.raspberry-pi }}">Raspberry Pi (ARM)</a>
                        <a class="btn btn-primary os raspberry-pi-64 hide" href="{{ site.download.cli.raspberry-pi-64 }}">Raspberry Pi 64bit (ARM64)</a>
                        <a class="btn btn-primary os macos" href="{{ site.download.cli.macos }}">MacOS X</a>
                        <a class="btn btn-primary os macos-package hide" href="{{ site.download.cli.macos-package }}">MacOS Package</a>
                        <a class="btn btn-primary os windows hide" href="{{ site.download.cli.windows }}">Windows (64-bit)</a>
                        <a class="btn btn-primary os linux hide" href="{{ site.download.cli.linux }}">Linux (64-bit)</a>
                    </div>
                    <ul class="list">
                        <li><a href="{{ site.download.cli.raspberry-pi }}">Raspberry Pi (ARM)</a></li>
                        <li><a href="{{ site.download.cli.raspberry-pi-64 }}">Raspberry Pi 64bit (ARM64)</a></li>
                        <li><a href="{{ site.download.cli.macos }}">MacOS X</a></li>
                        <li><a href="{{ site.download.cli.macos-package }}">MacOS Package</a></li>
                        <li><a href="{{ site.download.cli.windows }}">Windows (64-bit)</a></li>
                        <li><a href="{{ site.download.cli.linux }}">Linux (64-bit)</a></li>
                    </ul>
                </div>
            </div>
            <div class="col col-12 col-lg-4 col-xxl-3">
                <div class="download__manual">
                    <var class="step">2</var>
                    <p class="lead">Unzip and Install</p>
                    <p class="thre">Unzip the CLI. On MacOS, you can double click it</p>
                    <span class="btn btn--small">$ unzip Downloads/<br/>diode_darwin_amd64.zip</span>
                    <p class="note">We recommend moving it into a $PATH directory such as /home/[user]/.local/bin</p>
                </div>
            </div>
            <div class="col col-12 col-lg-4 col-xxl-3">
                <div class="download__manual">
                    <var class="step">3</var>
                    <p class="lead">Publish Ports</p>
                    <p class="thre">To publish, e.g. local http, ports to the Diode Network call</p>
                    <span class="btn btn--small btn--nowrap"><span class="noselect">$&nbsp;</span>diode publish -public 80:80</span>
                </div>
            </div>
        </div>
    {% endif %}
</section>
