{%- if include.data -%}
    {% assign data = page[include.data] %}
{% else %}
    {% assign data = page.features %}
{% endif %}

<section class="features">
    {%- if data.image -%}
        <figure class="features__image {{ data.image.class }}"><img src="{{ data.image.src | prepend: site.path.images | relative_url }}" alt="{{ data.image.alt }}"></figure>
        <hr>
    {% endif %}
    <div class="row align-items-lg-center">
        <div class="col col-12 col-lg-6">
            {%- if data.heading -%}<h2 class="features__heading">{{ data.heading }}</h2>{% endif %}
        </div>
        {%- if data.actions -%}
            <div class="col col-12 col-lg-6">
                <div class="features__actions">
                    {% for button in data.actions %}
                        <a href="{{ button.url | relative_url }}" class="btn {{ button.class }}" target="{{ button.target }}">{{ button.title }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    {%- if data.list -%}
        {% for entry in data.list %}
            {% capture thecycle %}{% cycle "odd", "even" %}{% endcapture %}
            {% if thecycle == "odd" %}<div class="row">{% endif %}
            <div class="col col-12 col-lg-6">
                {%- if entry.title -%}
                    <article class="features__entry">
                        <h4 class="features__title">{{ entry.title }}</h4>
                        {{ entry.content | markdownify }}
                        {%- if entry.buttons -%}
                            <div class="features__buttons">
                                {% for button in entry.buttons %}
                                    <a href="{{ button.url | relative_url }}" class="btn {{ button.class }}" target="{{ button.target }}">{{ button.title }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </article>
                {% endif %}
            </div>
            {% if thecycle == "even" %}
                </div>
            {% elsif forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
        {%- if data.after -%}
            <figure class="features__after"><img src="{{ data.after.src | prepend: site.path.images | relative_url }}" alt="{{ data.after.alt }}"></figure>
        {% endif %}
    {% endif %}
</section>