{%- if include.data -%}
    {% assign data = page[include.data] %}
{% else %}
    {% assign data = page.hero %}
{% endif %}

{%- if data.class -%}
    {% assign class = data.class | prepend: ' ' %}
{% else %}
    {% assign class = "" %}
{% endif %}

{% assign image = data.image | prepend: site.path.images | relative_url %}

{%- if data.buttons -%}
    {% assign buttons = " hero__content-buttons" %}
{% endif %}

<header class="hero{{ class }}" style="background-image:url('{{ image }}');">
    <div class="row">
        <div class="col col-12 col-lg-10">
            <div class="hero__content{{ buttons }}">
                {%- if data.title -%}<div class="hero__title">{{ data.title | markdownify }}</div>{% endif %}
                {%- if data.heading -%}<h1 class="hero__heading">{{ data.heading }}</h1>{% endif %}
                {%- if data.subheading -%}<div class="hero__subheading">{{ data.subheading | markdownify }}</div>{% endif %}
                {%- if data.buttons -%}
                    <div class="hero__buttons">
                        {% for button in data.buttons %}
                            <a href="{{ button.url | prepend: site.path.images | relative_url }}" class="btn {{ button.class }}">{{ button.title }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="hero__toggle"><span></span></div>
        </div>
    </div>
</header>