{% assign image = include.image | prepend: site.path.images | relative_url %}
{% assign class = include.class | prepend: ' ' %}
<header class="hero{{ class }}" style="background-image:url('{{ image }}');">
    <div class="row">
        <div class="col col-12 col-sm-8 col-lg-7 col-xxl-6">
            <div class="hero__content">
                {%- if include.preheading -%}<p class="hero__preheading">{{ include.preheading }}</p>{% endif %}
                {%- if include.heading -%}<h1 class="hero__heading">{{ include.heading }}</h1>{% endif %}
                {%- if include.button -%}
                    <div class="hero__buttons">
                        {%- if include.button -%}<a href="{{ include.button_url }}" class="btn {{ include.button_class }}">{{ include.button }}</a>{% endif %}
                        {%- if include.button2 -%}<a href="{{ include.button2_url }}" class="btn {{ include.button2_class }}">{{ include.button2 }}</a>{% endif %}
                    </div>
                {% endif %}
                {%- if include.subheading -%}<p class="hero__subheading">{{ include.subheading }}</p>{% endif %}
            </div>
        </div>
    </div>
</header>