{%- if include.data -%}
    {% assign data = page[include.data] %}
{% else %}
    {% assign data = page.partners %}
{% endif %}

{%- if data.class -%}
    {% assign class = data.class | prepend: ' ' %}
{% else %}
    {% assign class = "" %}
{% endif %}

{%- if data.animated -%}
<section class="partners" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000" data-aos-once="true">
{% else %}
<section class="partners">
{% endif %}
    <div class="row">
        <div class="col">
            {%- if data.title -%}<h4 class="partners__title">{{ data.title }}</h4>{% endif %}
            {%- if data.heading -%}<h2 class="partners__heading">{{ data.heading }}</h2>{% endif %}
            {%- if data.logos -%}
                <div class="partners__logos">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            {% for logo in data.logos %}
                                <div class="swiper-slide">
                                {%- if logo.url -%}<a href="{{ logo.url }}" target="_blank">{% endif %}<img src="{{ logo.image | prepend: site.path.images | relative_url }}" width="{{ logo.width }}" alt="{{ logo.alt }}">{%- if logo.url -%}</a>{% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            {% endif %}
        </div>
    </div>
</section>
