{%- if include.data -%}
    {% assign data = page[include.data] %}
{% else %}
    {% assign data = page.story %}
{% endif %}

{%- if data.class -%}
    {% assign class = data.class | prepend: ' ' %}
{% else %}
    {% assign class = "" %}
{% endif %}

{%- if data.mirrored -%}
    {% assign mirrored = "" %}
{% else %}
    {% assign mirrored = " flex-lg-row-reverse" %}
{% endif %}

<section class="story{{ class }}">
    <div class="row{{ mirrored }}">
        <div class="col col-12 col-lg-6 col-xl-5 col-xxl-6">
            {%- if data.image -%}
                <figure class="story__image {{ data.image.class }}"><img src="{{ data.image.src | prepend: site.path.images | relative_url }}" width="272" alt="{{ data.image.alt }}"></figure>
            {% endif %}
            {%- if data.gallery -%}
                <div class="story__gallery">
                    {% for entry in data.gallery %}
                        {%- if forloop.index <= 3 -%}
                            <figure class="story__gallery-image"><img src="{{ entry.image | prepend: site.path.images | relative_url }}" width="294" height="196" alt="{{ entry.alt }}"></figure>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {%- if data.teams -%}
                <div class="story__teams">
                    {% for member in data.teams %}
                        <div class="story__teams-person">
                            {%- if forloop.index <= 4 -%}
                                {%- if member.photo -%}
                                    <figure class="story__teams-photo"><img src="{{ member.photo | prepend: site.path.images | relative_url }}" width="142" height="142" alt="{{ member.name }}"></figure>{% endif %}
                                {%- if member.title -%}<p class="story__teams-title">{{ member.title }}</p>{% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col col-12 col-lg-6 col-xl-7 col-xxl-6">
            <div class="story__content">
                {%- if data.title -%}<h4 class="story__title">{{ data.title }}</h4>{% endif %}
                {%- if data.heading -%}<h2 class="story__heading">{{ data.heading }}</h2>{% endif %}
                {%- if data.content -%}{{ data.content | markdownify }}{% endif %}
                {%- if data.buttons -%}
                    <div class="story__buttons">
                        {% for button in data.buttons %}
                            <a href="{{ button.url }}" class="btn {{ button.class }}">{{ button.title }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>