{%- if include.data -%}
    {% assign data = page[include.data] %}
{% else %}
    {% assign data = page.story %}
{% endif %}

{%- if data.class -%}
    {% assign class = data.class | prepend: ' ' %}
{% else %}
    {% assign class = "" %}
{% endif %}

{%- if data.mirrored -%}
    {% assign mirrored = "" %}
{% else %}
    {% assign mirrored = " flex-lg-row-reverse" %}
{% endif %}

<section class="story{{ class }}">
    <div class="row align-items-lg-start{{ mirrored }}">
        {%- if data.animated -%}
            {%- if data.mirrored -%}
                <div class="col col-12 col-lg-6" data-aos="fade-right" data-aos-duration="1000" data-aos-offset="300" data-aos-delay="200" data-aos-easing="ease-out" data-aos-once="true">
            {% else %}
                <div class="col col-12 col-lg-6" data-aos="fade-left" data-aos-duration="1000" data-aos-offset="300" data-aos-delay="200" data-aos-easing="ease-out" data-aos-once="true">
            {% endif %}
        {% else %}
        <div class="col col-12 col-lg-6">
        {% endif %}
            {%- if data.image -%}
                <figure class="story__image {{ data.image.class }}"><img src="{{ data.image.src | prepend: site.path.images | relative_url }}" alt="{{ data.image.alt }}"></figure>
            {% endif %}
            {%- if data.video -%}
                {%- if data.video.preview -%}
                    <figure class="story__video"><a href="{{ data.video.src }}"><img src="{{ data.video.preview | prepend: site.path.images | relative_url }}" alt="{{ data.video.alt }}"></a></figure>
                {%- else -%}
                    <figure class="story__image {{ data.video.class }}">
                        <video src="{{ data.video.src | relative_url }}"{% if data.video.alt %} title="{{ data.video.alt }}"{% endif %} controls preload="auto"></video>
                    </figure>
                {%- endif -%}
            {% endif %}
            {%- if data.teams -%}
                <div class="story__teams">
                    {% for member in data.teams %}
                        <div class="story__teams-person">
                            {%- if forloop.index <= 4 -%}
                                {%- if member.photo -%}
                                    <figure class="story__teams-photo"><img src="{{ member.photo | prepend: site.path.images | relative_url }}" width="145" height="145" alt="{{ member.alt }}"></figure>{% endif %}
                                {%- if member.title -%}<p class="story__teams-title">{{ member.title }}</p>{% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {%- if data.animated -%}
            {%- if data.mirrored -%}
                <div class="col col-12 col-lg-6" data-aos="fade-left" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="ease-out" data-aos-once="true">
            {% else %}
                <div class="col col-12 col-lg-6" data-aos="fade-right" data-aos-duration="1000" data-aos-offset="300" data-aos-easing="ease-out" data-aos-once="true">
            {% endif %}
        {% else %}
        <div class="col col-12 col-lg-6">
        {% endif %}
            <div class="story__content">
                {%- if data.title -%}<p id="{%- if data.id -%}{{ data.id }}{% endif %}" class="story__title">{{ data.title }}</p>{% endif %}
                {%- if data.heading -%}<h2 class="story__heading">{{ data.heading }}{%- if data.icon -%}<img class="story__icon" src="{{ data.icon | prepend: site.path.images | relative_url }}" height="50" alt="">{% endif %}</h2>{% endif %}
                {%- if data.content -%}{{ data.content | markdownify }}{% endif %}
                {%- if data.buttons -%}
                    <div class="story__buttons">
                        {% for button in data.buttons %}
                            <a href="{{ button.url | relative_url }}" class="btn {{ button.class }}" target="{{ button.target }}">{{ button.title }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>